<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>WebSocketChat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script><script src="js/script.js"></script>
  </head>

  <body th:inline="text">
    <h2>Welcome to chat, [[${#httpServletRequest.remoteUser}]]!<a href="/logout"><button class="btn btn-primary">Logout</button></a></h2>
    <h5>List of commands: //help</h5>
    <h3>You are the owner:</h3>
    <div>
      <th>
        <li th:each="room : ${ownerRooms}"><a href = "#" th:onclick = "joinRoom([[${room.name}]])" th:utext="${room.name}"></a></li>
      </th>
    </div>
    <h3>You are a guest:</h3>
    <div>
      <th>
          <li th:each="room : ${rooms}"><a href = "#" th:onclick = "joinRoom([[${room.name}]])" th:utext="${room.name}"></a></li>
      </th>
    </div>
    <input type="text" name="message" id="message" size="40">
    <button class="btn btn-primary" type="submit" onclick="send()">Send</button>
      <div th:each="room : ${ownerRooms}" style="padding-top: 10px;">
        <th>
          <textarea th:id="${room.name}" name="area" cols="50" rows="50" readonly="true"></textarea>
        </th>
      </div>
    <div th:each="room : ${rooms}" style="padding-top: 10px;">
      <th>
        <textarea th:id="${room.name}" name="area" cols="50" rows="50" readonly="true"></textarea>
      </th>
    </div>
  </body>

</html>